{% extends 'base.html.twig' %}

{% block title %}{{ 'title.reservation_confirm'|trans }}, {{ parent() }}{% endblock %}

{% block logo %}
    {{ include('partials/back_to_home.html.twig') }}
{% endblock %}

{% block menu %}
    <ul class="nav clearfix">
        {{ include('partials/language_switcher.html.twig') }}
    </ul>
{% endblock %}

{% block content %}
    {% set room = "booking.room." ~ booking.room %}

    <div class="container booking-confirmation-container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'booking.confirm.head'|trans }}</h1>
                <p>
                    {{ 'booking.confirm.text'|trans }}
                </p>

                <hr/>

                <h1>{{ 'booking.confirm.reminder.head'|trans }}</h1>
                <p><i class="fa fa-user"></i> &nbsp; {{ booking.fname }} {{ booking.lname }}</p>
                <p><i class="fa fa-bed"></i> &nbsp; {{ 'room'|trans }} {{ room|trans }}</p>
                <p><i class="fa fa-calendar"></i> &nbsp; {{ 'from'|trans }} {{ booking.fromDate|date('d/m/Y') }} {{ 'to'|trans }} {{ booking.toDate|date('d/m/Y') }}</p>
                <p><i class="fa fa-envelope-o"></i> &nbsp; {{ booking.email }}</p>
                <p><i class="fa fa-phone"></i> &nbsp; {{ booking.phone }}</p>
            </div>
        </div>
    </div>
{% endblock %}