{% extends 'base.html.twig' %}

{% block menu %}
    <header id="page-header">
        <div class="container clearfix">
            <h1 id="logo" class="back-to-home">
                <a href="{{ path('homepage') }}">
                    <i class="fa fa-angle-left"></i> {{ 'back'|trans }} <span class="secondary-color">{{ 'to_homepage'|trans }}</span>
                </a>
            </h1>

            <div id="menu-responsive">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav id="main-menu" class="nav">
                <ul class="clearfix">
                    <li class="first active leaf">
                        <a href="#booking" class="active scroll-to-link">{{ 'menu.reservation'|trans }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="booking">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>{{ 'title.reservation_letter'|trans }}</span>{{ 'title.reservation'|trans }}<span class="hr"></span></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ include('booking/form.html.twig', { 'form': form }) }}
            </div>

            <div class="col-md-6">
                <div class="calendar">
                    <header>
                        <h2>September</h2>
                        <a class="btn-prev fa fa-angle-left" href="#"></a>
                        <a class="btn-next fa fa-angle-right" href="#"></a>
                    </header>

                    <table>
                        <thead>
                            <tr>

                                <td>Mo</td>
                                <td>Tu</td>
                                <td>We</td>
                                <td>Th</td>
                                <td>Fr</td>
                                <td>Sa</td>
                                <td>Su</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="prev-month">26</td>
                                <td class="prev-month">27</td>
                                <td class="prev-month">28</td>
                                <td class="prev-month">29</td>
                                <td class="prev-month">30</td>
                                <td class="prev-month">31</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td class="event">10</td>
                                <td>11</td>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                                <td class="event">21</td>
                                <td>22</td>
                            </tr>

                            <tr>
                                <td class="current-day event">23</td>
                                <td>24</td>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                            </tr>
                            <tr>
                                <td>30</td>
                                <td class="next-month">1</td>
                                <td class="next-month">2</td>
                                <td class="next-month">3</td>
                                <td class="next-month">4</td>
                                <td class="next-month">5</td>
                                <td class="next-month">6</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}