{% extends 'base.html.twig' %}

{% block menu %}
    <header id="page-header">
        <div class="container clearfix">
            <h1 id="logo" class="back-to-home">
                <a href="{{ path('homepage') }}">
                    <i class="fa fa-angle-left"></i> {{ 'back'|trans }} <span class="secondary-color">{{ 'to_homepage'|trans }}</span>
                </a>
            </h1>

            <div id="menu-responsive">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav id="main-menu" class="nav">
                <ul class="clearfix">
                    <li class="first active leaf">
                        <a href="#booking" class="active scroll-to-link">{{ 'menu.reservation'|trans }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" id="booking">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>{{ 'title.reservation_letter'|trans }}</span>{{ 'title.reservation'|trans }}<span class="hr"></span></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ include('booking/form.html.twig', { 'form': form }) }}
            </div>

            <div class="col-md-6">
                {{ render(controller('AppBundle:Calendar:render')) }}
            </div>
        </div>
    </div>
{% endblock %}