<div class="row" id="book">
    <div class="col-md-12">
        <div class="section-title">
            <h2><span>{{ 'title.reservation_letter'|trans }}</span>{{ 'title.reservation'|trans }}<span class="hr"></span></h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>{{ 'room.information'|trans }}</h3>
                    <ul>
                        <li><i class="fa fa-home"></i> {{ 'room.surface'|trans }}: 24m<sup>2</sup></li>
                        <li><i class="fa fa-bed"></i> {{ 'room.double_bed'|trans }} (MyBed™)</li>
                        <li><i class="fa fa-paw"></i> {{ 'room.pet_not_allowed'|trans }}</li>
                        <li><i class="fa fa-clock-o"></i> {{ 'room.checkin'|trans }} / {{ 'room.checkout'|trans }}</li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h3>{{ 'room.equipment'|trans }}</h3>
                    <ul>
                        <li><i class="fa fa-check"></i> {{ 'room.bathroom'|trans }}</li>
                        <li><i class="fa fa-check"></i> {{ 'room.tv'|trans }}</li>
                        <li><i class="fa fa-check"></i> {{ 'room.wifi'|trans }}</li>
                        <li><i class="fa fa-check"></i> {{ 'room.coffee'|trans }}</li>
                        <li><i class="fa fa-check"></i> {{ 'room.fridge'|trans }}</li>
                        <li><i class="fa fa-check"></i> {{ 'room.towels'|trans }}</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>{{ 'room.fees.head'|trans }}</h3>
                    <p>
                        {{ 'room.fees.text1'|trans }}
                        <br/>
                        {{ 'room.fees.text2'|trans }} <a title="{{ 'room.fees.booking.title'|trans }}" target="_blank" href="http://www.booking.com/hotel/fr/b-amp-b-kleber.html">Booking</a> {{ 'and'|trans }} <a title="{{ 'room.fees.airbnb.title'|trans }}" target="_blank" href="https://www.airbnb.fr/rooms/9417029">Airbnb</a>.
                    </p>
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="col-md-5 booking-form-col">
                    {{ include('booking/form.html.twig', { 'form': form }) }}
                </div>

                <div class="col-md-5 col-md-offset-2 calendar-col">
                    {{ render(controller('AppBundle:Calendar:render')) }}
                </div>
            </div>
        </div>
    </div>
</div>