<header id="page-header">
    <div class="container clearfix">
        {% block logo %}
            <h1 id="logo">
                <a href="{{ path('homepage') }}">
                    Villa <span class="secondary-color">Kleber</span>
                </a>
            </h1>
        {% endblock %}

        <div id="menu-responsive">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav id="main-menu">
            {% block menu %}
                <ul class="nav clearfix">
                    <li><a href="#presentation">{{ 'menu.presentation'|trans }}</a></li>
                    <li><a href="#rooms">{{ 'menu.rooms'|trans }}</a></li>
                    <li><a href="#book">{{ 'menu.reservation'|trans }}</a></li>
                    <li><a href="#information">{{ 'menu.information'|trans }}</a></li>

                    {{ include('partials/language_switcher.html.twig') }}
                </ul>
            {% endblock %}
        </nav>
    </div>
</header>