<li class="dropdown" id="language-switcher">
    {% if language == 'en' %}
        {% set flag_lang = 'gb' %}
    {% else %}
        {% set flag_lang = 'fr' %}
    {% endif %}

    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="flag-icon flag-icon-{{ flag_lang }}" title="{{ 'translate.site'|trans }}"></span>
        <b class="caret"></b>
    </a>

    {% if app.request.attributes.get('_route_params')|length > 0 and app.request.attributes.get('_route')|length > 0 %}
        <ul class="dropdown-menu">
            {% for lang in ['fr', 'en'] %}
                {% if lang == 'en' %}
                    {% set flag_lang = 'gb' %}
                {% else %}
                    {% set flag_lang = 'fr' %}
                {% endif %}

                {% if lang != language %}
                    <li>
                        <a class="locale-{{ lang }}" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': lang})|merge(app.request.query.all)) }}">
                            <span class="flag-icon flag-icon-{{ flag_lang }}" title="{{ 'translate.site'|trans }}"></span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</li>