<div class="row" id="rooms">
    <div class="col-md-12">
        <div class="section-title">
            <h2><span>{{ 'title.rooms_letter'|trans }}</span>{{ 'title.rooms'|trans }}<span class="hr"></span></h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4 room-preview-col">
                    <div class="room-preview room-preview-red">
                        <div class="room-preview-title">
                            <h3><a href="{{ path('room_red') }}"><i class="fa fa-diamond"></i> {{ 'room'|trans }} <span>{{ 'booking.room.red'|trans }}</span></a></h3>
                        </div>

                        <div class="room-preview-image">
                            <div class="royalSlider rsDefault">
                                <img class="rsImg" src="{{ asset('img/photos/photo10.jpg') }}" />
                                <img class="rsImg" src="{{ asset('img/photos/photo11.jpg') }}" />
                                <img class="rsImg" src="{{ asset('img/photos/photo12.jpg') }}" />
                                <img class="rsImg" src="{{ asset('img/photos/photo13.jpg') }}" />
                                <img class="rsImg" src="{{ asset('img/photos/photo14.jpg') }}" />
                            </div>
                        </div>

                        <div class="room-preview-desc">
                            {{ 'room.description.red'|trans|raw }}
                        </div>

                        <div class="room-preview-link">
                            <a class="btn btn-default" href="{{ path('room_red') }}">{{ 'room.visit'|trans }}</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 room-preview-col">
                    <div class="room-preview room-preview-green">
                        <div class="room-preview-title">
                            <h3><a href="{{ path('room_green') }}"><i class="fa fa-diamond"></i> {{ 'room'|trans }} <span>{{ 'booking.room.green'|trans }}</span></a></h3>
                        </div>

                        <div class="room-preview-image">
                            <div class="royalSlider rsDefault">
                                <img class="rsImg" src="{{ asset('img/photos/photo15.jpg') }}" />
                                <img class="rsImg" src="{{ asset('img/photos/photo16.jpg') }}" />
                                <img class="rsImg" src="{{ asset('img/photos/photo17.jpg') }}" />
                                <img class="rsImg" src="{{ asset('img/photos/photo18.jpg') }}" />
                                <img class="rsImg" src="{{ asset('img/photos/photo19.jpg') }}" />
                            </div>
                        </div>

                        <div class="room-preview-desc">
                            {{ 'room.description.green'|trans|raw }}
                        </div>

                        <div class="room-preview-link">
                            <a class="btn btn-default" href="{{ path('room_green') }}">{{ 'room.visit'|trans }}</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 room-preview-col">
                    <div class="room-preview room-preview-blue">
                        <div class="room-preview-title">
                            <h3><a href="{{ path('room_blue') }}"><i class="fa fa-diamond"></i> {{ 'room'|trans }} <span>{{ 'booking.room.blue'|trans }}</span></a></h3>
                        </div>

                        <div class="room-preview-image">
                            <div class="royalSlider rsDefault">
                                <img class="rsImg" src="{{ asset('img/photos/photo20.jpg') }}" />
                                <img class="rsImg" src="{{ asset('img/photos/photo21.jpg') }}" />
                                <img class="rsImg" src="{{ asset('img/photos/photo22.jpg') }}" />
                                <img class="rsImg" src="{{ asset('img/photos/photo23.jpg') }}" />
                                <img class="rsImg" src="{{ asset('img/photos/photo24.jpg') }}" />
                            </div>
                        </div>

                        <div class="room-preview-desc">
                            {{ 'room.description.blue'|trans|raw }}
                        </div>

                        <div class="room-preview-link">
                            <a class="btn btn-default" href="{{ path('room_blue') }}">{{ 'room.visit'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>