{% extends 'rooms/room.html.twig' %}

{% block title %}{{ 'room'|trans }} {{ 'booking.room.blue'|trans }}, {{ parent() }}{% endblock %}

{% block menu %}
    <ul class="nav clearfix">
        <li class="room-menu room-menu-blue dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                {{ 'room'|trans }} {{ 'booking.room.blue'|trans }}
                <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
                <li class="room-menu room-menu-red"><a href="{{ path('room_red') }}">{{ 'room'|trans }} {{ 'booking.room.red'|trans }}</a></li>
                <li class="room-menu room-menu-green"><a href="{{ path('room_green') }}">{{ 'room'|trans }} {{ 'booking.room.green'|trans }}</a></li>
            </ul>
        </li>

        <li><a href="#book">{{ 'menu.reservation'|trans }}</a></li>
        <li><a href="#information">{{ 'menu.information'|trans }}</a></li>

        {{ include('partials/language_switcher.html.twig') }}
    </ul>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row slideshow" id="room-slideshow">
            <div class="col-md-12">
                <div class="royalSlider rsDefault">
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo1.jpg') }}" src="{{ asset('img/photos/photo1.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo2.jpg') }}" src="{{ asset('img/photos/photo2.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo3.jpg') }}" src="{{ asset('img/photos/photo3.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo4.jpg') }}" src="{{ asset('img/photos/photo4.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo5.jpg') }}" src="{{ asset('img/photos/photo5.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo6.jpg') }}" src="{{ asset('img/photos/photo6.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo7.jpg') }}" src="{{ asset('img/photos/photo7.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo8.jpg') }}" src="{{ asset('img/photos/photo8.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo1.jpg') }}" src="{{ asset('img/photos/photo1.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo2.jpg') }}" src="{{ asset('img/photos/photo2.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo3.jpg') }}" src="{{ asset('img/photos/photo3.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo4.jpg') }}" src="{{ asset('img/photos/photo4.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo5.jpg') }}" src="{{ asset('img/photos/photo5.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo6.jpg') }}" src="{{ asset('img/photos/photo6.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo7.jpg') }}" src="{{ asset('img/photos/photo7.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo8.jpg') }}" src="{{ asset('img/photos/photo8.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo1.jpg') }}" src="{{ asset('img/photos/photo1.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo2.jpg') }}" src="{{ asset('img/photos/photo2.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo3.jpg') }}" src="{{ asset('img/photos/photo3.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo4.jpg') }}" src="{{ asset('img/photos/photo4.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo5.jpg') }}" src="{{ asset('img/photos/photo5.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo6.jpg') }}" src="{{ asset('img/photos/photo6.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo7.jpg') }}" src="{{ asset('img/photos/photo7.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo8.jpg') }}" src="{{ asset('img/photos/photo8.jpg') }}" />
                </div>
            </div>
        </div>

        {{ include('partials/booking.html.twig', {'form': form}) }}
        {{ include('partials/information.html.twig') }}
    </div>
{% endblock %}