{% extends 'rooms/room.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row" id="room-slideshow" class="slideshow">
            <div class="col-md-12">
                <div class="royalSlider rsDefault">
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo1.jpg') }}" src="{{ asset('img/photos/photo1.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo2.jpg') }}" src="{{ asset('img/photos/photo2.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo3.jpg') }}" src="{{ asset('img/photos/photo3.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo4.jpg') }}" src="{{ asset('img/photos/photo4.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo5.jpg') }}" src="{{ asset('img/photos/photo5.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo6.jpg') }}" src="{{ asset('img/photos/photo6.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo7.jpg') }}" src="{{ asset('img/photos/photo7.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo8.jpg') }}" src="{{ asset('img/photos/photo8.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo1.jpg') }}" src="{{ asset('img/photos/photo1.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo2.jpg') }}" src="{{ asset('img/photos/photo2.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo3.jpg') }}" src="{{ asset('img/photos/photo3.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo4.jpg') }}" src="{{ asset('img/photos/photo4.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo5.jpg') }}" src="{{ asset('img/photos/photo5.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo6.jpg') }}" src="{{ asset('img/photos/photo6.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo7.jpg') }}" src="{{ asset('img/photos/photo7.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo8.jpg') }}" src="{{ asset('img/photos/photo8.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo1.jpg') }}" src="{{ asset('img/photos/photo1.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo2.jpg') }}" src="{{ asset('img/photos/photo2.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo3.jpg') }}" src="{{ asset('img/photos/photo3.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo4.jpg') }}" src="{{ asset('img/photos/photo4.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo5.jpg') }}" src="{{ asset('img/photos/photo5.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo6.jpg') }}" src="{{ asset('img/photos/photo6.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo7.jpg') }}" src="{{ asset('img/photos/photo7.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo8.jpg') }}" src="{{ asset('img/photos/photo8.jpg') }}" />
                </div>
            </div>
        </div>

        <div class="row" id="presentation">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>P</span>Présentation <span class="hr"></span></h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <img src="{{ asset('img/photos/photo5.jpg') }}" width="500px" class="text-image text-image-right" />

                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis <b>tellus eget</b> hendrerit tincidunt. Pellentesque lacinia lectus id tellus pellentesque euismod. Sed ultrices, neque sed vehicula dignissim, ligula justo rhoncus nunc, sit amet vulputate metus urna in dolor. Maecenas ac lobortis sem. Sed eget nisi et arcu cursus maximus sed at nunc. Nam quis posuere nibh. Nunc ullamcorper ullamcorper ex sed consectetur. Phasellus et molestie turpis.
                                <br/><br/>
                                Maecenas nec odio eget nunc dictum posuere. <i>Nam maximus</i>, orci at efficitur scelerisque, orci enim malesuada enim, et pharetra est nisl et arcu. Praesent ac metus nulla. Nam faucibus neque id erat dapibus pellentesque. Curabitur laoreet ipsum et urna interdum gravida. Sed nec mattis nunc. Integer vel justo leo. Mauris dapibus id ligula ac pulvinar. Nulla facilisi. Suspendisse potenti. Donec a mauris vitae velit ornare eleifend.
                                <br/><br/>
                                Suspendisse rhoncus <a href="#">mauris sed</a> convallis porttitor. Nullam porttitor pulvinar vehicula. Fusce augue diam, elementum fermentum leo luctus, gravida iaculis quam. Nullam pharetra massa ex, elementum elementum mi semper eget. Quisque tristique ante sit amet accumsan vehicula. Donec ac nunc quis ligula tincidunt condimentum. In tempor pellentesque lacinia. Morbi ullamcorper elit quis massa aliquet lobortis.
                                <br/><br/>

                                <img src="{{ asset('img/photos/photo6.jpg') }}" width="500px" class="text-image text-image-left" />
                                Ut suscipit, magna id rutrum placerat, tellus enim pellentesque est, consectetur feugiat mauris urna et mauris. Morbi rhoncus turpis vitae erat porttitor, a eleifend augue lobortis. Morbi sagittis et mi in imperdiet. Nunc sodales luctus mi nec imperdiet. Maecenas luctus, justo et fermentum gravida, dui ipsum posuere nisl, ac pellentesque neque est non nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum pellentesque nec magna vel molestie. Pellentesque pretium nibh sed accumsan pretium. Nulla vulputate, leo sed imperdiet vestibulum, lectus erat bibendum risus, et volutpat sapien ligula at nulla. Cras rutrum sapien odio, et tempus lorem rutrum non. Nullam vestibulum auctor nunc, et vulputate sem. Maecenas lorem eros, gravida sit amet tellus vel, ultricies finibus augue. Maecenas malesuada erat non nulla sagittis, sed vestibulum erat mollis. In facilisis vel libero eu feugiat.
                                <br/><br/>
                                Donec ac dictum justo. Praesent iaculis odio quis felis dignissim lobortis. Phasellus tristique id mi et placerat. Integer neque felis, scelerisque quis finibus a, vulputate at ex. Aenean a dui volutpat, tristique dolor a, bibendum dolor. Duis ultrices sapien quis mauris viverra, id consectetur nibh consequat. Suspendisse id sagittis orci, a vehicula orci. Proin sed dictum massa, laoreet molestie mauris. Fusce eget dictum augue. Aenean rhoncus leo ut orci maximus viverra. Praesent vitae tellus euismod, iaculis orci bibendum, imperdiet quam. Donec diam velit, placerat a nunc eget, porta molestie nunc. Cras faucibus dictum imperdiet. Pellentesque consectetur libero et purus posuere, vitae vestibulum neque feugiat. Mauris varius blandit tristique.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="book">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>R</span>Réservation<span class="hr"></span></h2>
                </div>
            </div>
        </div>

        <div class="row" id="information">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>I</span>Informations<span class="hr"></span></h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}