{% extends 'rooms/room.html.twig' %}

{% block room_name %}
    <span class="room-red">{{ 'booking.room.red'|trans }}</span>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row" id="room-slideshow" class="slideshow">
            <div class="col-md-12">
                <div class="royalSlider rsDefault">
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo1.jpg') }}" src="{{ asset('img/photos/photo1.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo2.jpg') }}" src="{{ asset('img/photos/photo2.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo3.jpg') }}" src="{{ asset('img/photos/photo3.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo4.jpg') }}" src="{{ asset('img/photos/photo4.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo5.jpg') }}" src="{{ asset('img/photos/photo5.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo6.jpg') }}" src="{{ asset('img/photos/photo6.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo7.jpg') }}" src="{{ asset('img/photos/photo7.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo8.jpg') }}" src="{{ asset('img/photos/photo8.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo1.jpg') }}" src="{{ asset('img/photos/photo1.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo2.jpg') }}" src="{{ asset('img/photos/photo2.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo3.jpg') }}" src="{{ asset('img/photos/photo3.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo4.jpg') }}" src="{{ asset('img/photos/photo4.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo5.jpg') }}" src="{{ asset('img/photos/photo5.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo6.jpg') }}" src="{{ asset('img/photos/photo6.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo7.jpg') }}" src="{{ asset('img/photos/photo7.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo8.jpg') }}" src="{{ asset('img/photos/photo8.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo1.jpg') }}" src="{{ asset('img/photos/photo1.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo2.jpg') }}" src="{{ asset('img/photos/photo2.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo3.jpg') }}" src="{{ asset('img/photos/photo3.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo4.jpg') }}" src="{{ asset('img/photos/photo4.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo5.jpg') }}" src="{{ asset('img/photos/photo5.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo6.jpg') }}" src="{{ asset('img/photos/photo6.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo7.jpg') }}" src="{{ asset('img/photos/photo7.jpg') }}" />
                    <img class="rsImg" data-rsTmb="{{ asset('img/photos/photo8.jpg') }}" src="{{ asset('img/photos/photo8.jpg') }}" />
                </div>
            </div>
        </div>

    </div>
{% endblock %}