{% extends 'base.html.twig' %}

{% block menu %}
    <header id="page-header">
        <div class="container clearfix">
            <h1 id="logo" class="back-to-home">
                <a href="{{ path('homepage') }}">
                    <i class="fa fa-angle-left"></i> {{ 'back'|trans }} <span class="secondary-color">{{ 'to_homepage'|trans }}</span>
                </a>
            </h1>

            <div id="menu-responsive">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav id="main-menu">
                <h2>{{ 'room'|trans }} {% block room_name %}{% endblock %}</h2>
                <ul class="nav clearfix">
                    <li class="first active leaf"><a href="#presentation" class="active scroll-to-link">{{ 'menu.presentation'|trans }}</a></li>
                    <li class="leaf"><a href="#rooms" class="active scroll-to-link">{{ 'menu.rooms'|trans }}</a></li>
                    <li class="leaf"><a href="#booking" class="active scroll-to-link">{{ 'menu.reservation'|trans }}</a></li>
                    <li class="last leaf"><a href="#information" class="active scroll-to-link">{{ 'menu.information'|trans }}</a></li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}