{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row slideshow" id="home-slideshow">
            <div class="col-md-12">
                <div class="royalSlider rsDefault">
                    <img class="rsImg" src="{{ asset('img/photos/photo1.jpg') }}" />
                    <img class="rsImg" src="{{ asset('img/photos/photo2.jpg') }}" />
                    <img class="rsImg" src="{{ asset('img/photos/photo3.jpg') }}" />
                </div>
            </div>
        </div>

        <div class="row" id="presentation">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>{{ 'title.presentation_letter'|trans }}</span>{{ 'title.presentation'|trans }} <span class="hr"></span></h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                Située au coeur de Strasbourg , la Villa Kléber vous offre un séjour de rêve tradition et confort.<br/>
                                <br/>
                                Parmi ces trois chambres de caractères vous trouverez celle qui vous correspond.<br/>
                                Se sentir à la fois chez soi et en même temps ailleurs...telle est la promesse de la Villa Kléber.<br/>
                                <br/>
                                Posez vos bagages ... vous êtes chez vous.
                            </p>

                            <p>
                                <img src="{{ asset('img/photos/photo5.jpg') }}" width="300px" class="text-image text-image-left" />
                                In the heart of the city of Strtasbourg, the Villa Kléber offers you a dream stay between tradition and comfort.<br/>
                                <br/>
                                With its three characterful rooms, you will find yours.<br/>
                                To feel at home and elsewhere at the same time, that is the promise of the Villa Kléber.<br/>
                                <br/>
                                Leave your luggages here, you are at home.<br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="rooms">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>{{ 'title.rooms_letter'|trans }}</span>{{ 'title.rooms'|trans }}<span class="hr"></span></h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 room-preview-col">
                            <div class="room-preview room-preview-red">
                                <div class="room-preview-title">
                                    <h3><a href="{{ path('room_red') }}">{{ 'room'|trans }} <span>{{ 'booking.room.red'|trans }}</span></a></h3>
                                </div>

                                <div class="room-preview-image">
                                    <div class="royalSlider rsDefault">
                                        <img class="rsImg" src="{{ asset('img/photos/photo10.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo11.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo12.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo13.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo14.jpg') }}" />
                                    </div>
                                </div>

                                <div class="room-preview-desc">
                                    {{ 'room.description.red'|trans|raw }}
                                </div>

                                <div class="room-preview-link">
                                    <a href="{{ path('room_red') }}"><i class="fa fa-angle-double-right"></i> {{ 'room.visit'|trans }}</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 room-preview-col">
                            <div class="room-preview room-preview-green">
                                <div class="room-preview-title">
                                    <h3><a href="{{ path('room_green') }}">{{ 'room'|trans }} <span>{{ 'booking.room.green'|trans }}</span></a></h3>
                                </div>

                                <div class="room-preview-image">
                                    <div class="royalSlider rsDefault">
                                        <img class="rsImg" src="{{ asset('img/photos/photo15.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo16.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo17.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo18.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo19.jpg') }}" />
                                    </div>
                                </div>

                                <div class="room-preview-desc">
                                    {{ 'room.description.green'|trans|raw }}
                                </div>

                                <div class="room-preview-link">
                                    <a href="{{ path('room_green') }}"><i class="fa fa-angle-double-right"></i> {{ 'room.visit'|trans }}</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 room-preview-col">
                            <div class="room-preview room-preview-blue">
                                <div class="room-preview-title">
                                    <h3><a href="{{ path('room_blue') }}">{{ 'room'|trans }} <span>{{ 'booking.room.blue'|trans }}</span></a></h3>
                                </div>

                                <div class="room-preview-image">
                                    <div class="royalSlider rsDefault">
                                        <img class="rsImg" src="{{ asset('img/photos/photo20.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo21.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo22.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo23.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo24.jpg') }}" />
                                    </div>
                                </div>

                                <div class="room-preview-desc">
                                    {{ 'room.description.blue'|trans|raw }}
                                </div>

                                <div class="room-preview-link">
                                    <a href="{{ path('room_blue') }}"><i class="fa fa-angle-double-right"></i> {{ 'room.visit'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="book">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>{{ 'title.reservation_letter'|trans }}</span>{{ 'title.reservation'|trans }}<span class="hr"></span></h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="clearfix align-center">
                                {{ 'reservation.description'|trans }}
                            </p>
                        </div>
                    </div>

                    <div class="row row-with-margin-top">
                        <div class="col-md-6 booking-form-col">
                            {{ include('booking/form.html.twig', { 'form': form }) }}
                        </div>

                        <div class="col-md-6 calendar-col">
                            {{ render(controller('AppBundle:Calendar:render')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="information">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>{{ 'title.information_letter'|trans }}</span>{{ 'title.information'|trans }}<span class="hr"></span></h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-element">
                                <div class="info-element-title">
                                    <div class="info-element-icon"><i class="fa fa-car"></i></div>
                                    {{ 'information.parking'|trans }}
                                </div>

                                <div class="info-element-desc">
                                    {{ 'information.parking.description'|trans|raw }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="info-element">
                                <div class="info-element-title">
                                    <div class="info-element-icon"><i class="fa fa-subway"></i></div>
                                    {{ 'information.transport'|trans }}
                                </div>

                                <div class="info-element-desc">
                                    {{ 'information.transport.description'|trans|raw }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-element">
                                <div class="info-element-title">
                                    <div class="info-element-icon"><i class="fa fa-heart-o"></i></div>
                                    {{ 'information.strasbourg'|trans }}
                                </div>

                                <div class="info-element-desc">
                                    {{ 'information.strasbourg.description'|trans|raw }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="info-element">
                                <div class="info-element-title">
                                    <div class="info-element-icon"><i class="fa fa-shopping-bag"></i></div>
                                    {{ 'information.shopping'|trans }}
                                </div>

                                <div class="info-element-desc">
                                    {{ 'information.shopping.description'|trans|raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}