<div class="calendar{% if room != null %}room-{{ room }}{% endif %}">
    <header>
        <h3>
            <a class="btn-prev fa fa-angle-left" href="{{ path('calendar_render_ajax', {'date': startCalendar|date('m/Y')}) }}"></a>
            {{ 'bookings'|trans }} - {{ start|format_date('MMMM') }} {{ start|date('Y') }}
            <a class="btn-next fa fa-angle-right" href="{{ path('calendar_render_ajax', {'date': endCalendar|date('m/Y')}) }}"></a>
        </h3>
    </header>

    <table>
        <thead>
            <tr>
                <th>{{ 'day.monday.short'|trans }}</th>
                <th>{{ 'day.tuesday.short'|trans }}</th>
                <th>{{ 'day.wednesday.short'|trans }}</th>
                <th>{{ 'day.thirsday.short'|trans }}</th>
                <th>{{ 'day.friday.short'|trans }}</th>
                <th>{{ 'day.saturday.short'|trans }}</th>
                <th>{{ 'day.sunday.short'|trans }}</th>
            </tr>
        </thead>

        <tbody>
            <tr>
            {% for day in period %}
                {% set dayBookings = bookingManager.getBookingForThisDay(day, bookings, true) %}
                {% set classes = 'day day-col-' ~ loop.index %}

                {% if day < start %}
                    {% set classes = classes ~ ' prev-month' %}
                {% endif %}

                {% if day > end %}
                    {% set classes = classes ~ ' next-month' %}
                {% endif %}

                {% if day|date('d/m/Y') == 'now'|date('d/m/Y') %}
                    {% set classes = classes ~ ' current-day' %}
                {% endif %}

                {% if dayBookings|length > 0 %}
                    {% set classes = classes ~ ' booking' %}
                {% endif %}

                {% for booking in dayBookings %}
                    {% set classes = classes ~ ' booking-' ~ booking.room %}

                    {% if booking.validated %}
                        {% set classes = classes ~ ' booking-validated' %}
                    {% endif %}
                {% endfor %}

                <td class="{{ classes }}">
                    <span class="day-label">{{ day|date('d') }}</span>
                    <span class="day-bookings">
                        {% for booking in dayBookings %}
                            <span class="booking booking-{{ booking.room }} {% if booking.validated %}validated{% else %}not-validated{% endif %}"></span>
                        {% endfor %}
                    </span>
                </td>

                {% if loop.index % 7 == 0 %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h5 class="calendar-legend">{{ 'booking.calendar.legend'|trans }}</h5>
</div>