{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row slideshow" id="home-slideshow">
            <div class="col-md-12">
                <div class="royalSlider rsDefault">
                    <img class="rsImg" src="{{ asset('img/photos/photo1.jpg') }}" />
                    <img class="rsImg" src="{{ asset('img/photos/photo2.jpg') }}" />
                    <img class="rsImg" src="{{ asset('img/photos/photo3.jpg') }}" />
                </div>
            </div>
        </div>

        <div class="row" id="presentation">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>{{ 'title.presentation_letter'|trans }}</span>{{ 'title.presentation'|trans }} <span class="hr"></span></h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Bienvenue à la Villa Kléber.</h3>
                            <p>
                                Située au coeur de Strasbourg, la Villa Kléber vous offre un séjour de rêve entre tradition et confort.<br/>
                                Parmi les trois chambres de caractères Rubis, Opale et Saphir, vous trouverez celle qui vous correspond.<br/>
                                Se sentir à la fois chez soi et en même temps ailleurs...telle est la promesse de la Villa Kléber.<br/>
                                Lors de votre séjour dans la capitale européenne, vous rejoindrez le cœur touristique de Strasbourg en seulement 10 minutes à pied.<br/>
                                La Cathédrale de Strasbourg, le Palais Rohan, Grand ‘Rue, la Petite France, la ville est intimiste et possède un patrimoine historique riche.<br/>
                                Strasbourg est très appréciée des voyageurs et compte parmi les villes où il fait le plus bon vivre.<br/>
                                <br/>
                                Posez vos bagages ... vous êtes chez vous.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ include('partials/room_preview.html.twig') }}
        {{ include('partials/booking.html.twig', {'form': form}) }}
        {{ include('partials/information.html.twig') }}
        {{ include('partials/contact.html.twig') }}
    </div>
{% endblock %}