{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row slideshow" id="home-slideshow">
            <div class="col-md-12">
                <div class="royalSlider rsDefault">
                    <img class="rsImg" src="{{ asset('img/photos/photo1.jpg') }}" />
                    <img class="rsImg" src="{{ asset('img/photos/photo2.jpg') }}" />
                    <img class="rsImg" src="{{ asset('img/photos/photo3.jpg') }}" />
                </div>
            </div>
        </div>

        <div class="row" id="presentation">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>{{ 'title.presentation_letter'|trans }}</span>{{ 'title.presentation'|trans }} <span class="hr"></span></h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Bienvenue dans une villa d'exception</h3>
                            <p>
                                Dotée d'une connexion Wi-Fi gratuite dans l'ensemble de ses locaux, la Villa Kleber est située à Strasbourg, à 500 mètres du marché de Noël et 600 mètres du quartier de la Petite France.
                                Les hébergements comprennent une télévision par satellite à écran plat, un réfrigérateur et une machine à café.<br/>
                                Leur salle de bains privative est pourvue d'une douche. Les serviettes de toilette et le linge de lit sont fournis.<br/>
                                Afin de mieux vous accueillir, nous parlons français, anglais et italien !
                            </p>

                            <h3 style="margin-top: 30px;">Explorez Strasbourg dans des conditions idéales</h3>
                            <p>
                                Lors de votre séjour, vous rejoindrez la cathédrale à 700 mètres et le musée d'histoire de Strasbourg à 800 mètres.<br/>
                                L'aéroport international de Strasbourg, le plus proche, est quant à lui accessible à 10 km de la Villa Kleber.<br/>
                                C'est le quartier préféré des voyageurs visitant Strasbourg, selon les commentaires clients indépendants.<br/>
                                N'hésitez pas à consulter <a href="https://www.tripadvisor.fr/Tourism-g187075-Strasbourg_Bas_Rhin_Alsace-Vacations.html">la page TripAdvisor de Strasbourg</a> pour plus d'informations et d'endroits à visiter.<br/>
                            </p>

                            <h3 style="margin-top: 30px;">Contactez nous !</h3>
                            <p>
                                Si vous désirez de plus amples informations sur la Villa Kleber, nous vous invitons à consulter les rubriques suivantes et à prendre contact avec nous.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ include('partials/room_preview.html.twig') }}
        {{ include('partials/booking.html.twig', {'form': form}) }}
        {{ include('partials/information.html.twig') }}
    </div>
{% endblock %}