{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row slideshow" id="home-slideshow">
            <div class="col-md-12">
                <div class="royalSlider rsDefault">
                    <img class="rsImg" src="{{ asset('img/photos/photo1.jpg') }}" />
                    <img class="rsImg" src="{{ asset('img/photos/photo2.jpg') }}" />
                    <img class="rsImg" src="{{ asset('img/photos/photo3.jpg') }}" />
                </div>
            </div>
        </div>

        <div class="row" id="presentation">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>{{ 'title.presentation_letter'|trans }}</span>{{ 'title.presentation'|trans }} <span class="hr"></span></h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Bienvenue dans une villa d'exception</h3>
                            <p>
                                Dotée d'une connexion Wi-Fi gratuite dans l'ensemble de ses locaux, la Villa Kleber est située à Strasbourg, à 500 mètres du marché de Noël et 600 mètres du quartier de la Petite France.
                                Les hébergements comprennent une télévision par satellite à écran plat, un réfrigérateur et une machine à café.<br/>
                                Leur salle de bains privative est pourvue d'une douche. Les serviettes de toilette et le linge de lit sont fournis.<br/>
                                Afin de mieux vous accueillir, nous parlons français, anglais et italien !
                            </p>

                            <h3 style="margin-top: 30px;">Explorez Strasbourg dans des conditions idéales</h3>
                            <p>
                                Lors de votre séjour, vous rejoindrez la cathédrale à 700 mètres et le musée d'histoire de Strasbourg à 800 mètres.<br/>
                                L'aéroport international de Strasbourg, le plus proche, est quant à lui accessible à 10 km de la Villa Kleber.<br/>
                                C'est le quartier préféré des voyageurs visitant Strasbourg, selon les commentaires clients indépendants.<br/>
                                N'hésitez pas à consulter <a href="https://www.tripadvisor.fr/Tourism-g187075-Strasbourg_Bas_Rhin_Alsace-Vacations.html">la page TripAdvisor de Strasbourg</a> pour plus d'informations et d'endroits à visiter.<br/>
                            </p>

                            <h3 style="margin-top: 30px;">Contactez nous !</h3>
                            <p>
                                Si vous désirez de plus amples informations sur la Villa Kleber, nous vous invitons à consulter les rubriques suivantes et à prendre contact avec nous.
                            </p>
                        </div>

                        <div class="col-md-4">
                            <div id="TA_cdsdmo224" class="TA_cdsdmo">
                                <ul id="mpU58xoqMlW" class="TA_links r4RQevWi0">
                                    <li id="AV5pHXM7m" class="p1yytFxHe">
                                        <a target="_blank" href="https://www.tripadvisor.fr/">
                                            <img src="https://www.tripadvisor.fr/img/cdsi/partner/tripadvisor_logo_146x22-11324-2.gif" alt="TripAdvisor"/>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <script src="https://www.jscache.com/wejs?wtype=cdsdmo&amp;uniq=224&amp;locationId=187075&amp;lang=fr&amp;photo=true&amp;hotel=n&amp;attraction=n&amp;restaurant=n&amp;display_version=2"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="rooms">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>{{ 'title.rooms_letter'|trans }}</span>{{ 'title.rooms'|trans }}<span class="hr"></span></h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="intro-text">
                                <p class="clearfix align-center">
                                    Découvrez nos trois chambres de charme et le confort qu'elles pourraient vous offrir lors de votre séjour à Strasbourg.<br/>
                                    Chaque chambre offre un spacieux espace de 24m<sup>2</sup>, un équipement complet dont une literie MyBed™.<br/>
                                    Quelle gemme, quel univers choisirez vous ... ?
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 room-preview-col">
                            <div class="room-preview room-preview-red">
                                <div class="room-preview-title">
                                    <h3><a href="{{ path('room_red') }}"><i class="fa fa-diamond"></i> {{ 'room'|trans }} <span>{{ 'booking.room.red'|trans }}</span></a></h3>
                                </div>

                                <div class="room-preview-image">
                                    <div class="royalSlider rsDefault">
                                        <img class="rsImg" src="{{ asset('img/photos/photo10.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo11.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo12.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo13.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo14.jpg') }}" />
                                    </div>
                                </div>

                                <div class="room-preview-desc">
                                    {{ 'room.description.red'|trans|raw }}
                                </div>

                                <div class="room-preview-link">
                                    <a class="btn btn-default" href="{{ path('room_red') }}">{{ 'room.visit'|trans }}</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 room-preview-col">
                            <div class="room-preview room-preview-green">
                                <div class="room-preview-title">
                                    <h3><a href="{{ path('room_green') }}"><i class="fa fa-diamond"></i> {{ 'room'|trans }} <span>{{ 'booking.room.green'|trans }}</span></a></h3>
                                </div>

                                <div class="room-preview-image">
                                    <div class="royalSlider rsDefault">
                                        <img class="rsImg" src="{{ asset('img/photos/photo15.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo16.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo17.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo18.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo19.jpg') }}" />
                                    </div>
                                </div>

                                <div class="room-preview-desc">
                                    {{ 'room.description.green'|trans|raw }}
                                </div>

                                <div class="room-preview-link">
                                    <a class="btn btn-default" href="{{ path('room_green') }}">{{ 'room.visit'|trans }}</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 room-preview-col">
                            <div class="room-preview room-preview-blue">
                                <div class="room-preview-title">
                                    <h3><a href="{{ path('room_blue') }}"><i class="fa fa-diamond"></i> {{ 'room'|trans }} <span>{{ 'booking.room.blue'|trans }}</span></a></h3>
                                </div>

                                <div class="room-preview-image">
                                    <div class="royalSlider rsDefault">
                                        <img class="rsImg" src="{{ asset('img/photos/photo20.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo21.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo22.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo23.jpg') }}" />
                                        <img class="rsImg" src="{{ asset('img/photos/photo24.jpg') }}" />
                                    </div>
                                </div>

                                <div class="room-preview-desc">
                                    {{ 'room.description.blue'|trans|raw }}
                                </div>

                                <div class="room-preview-link">
                                    <a class="btn btn-default" href="{{ path('room_blue') }}">{{ 'room.visit'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="book">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>{{ 'title.reservation_letter'|trans }}</span>{{ 'title.reservation'|trans }}<span class="hr"></span></h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h3>Tarif</h3>
                            <p>
                                Le tarif d'une nuit en chambre double s'élève à <b>110 euros</b>.<br/>
                                Un dépôt de garantie de 100 euros vous sera demandé à l'arrivée pour couvrir d'éventuels dommages.<br/>
                                Il vous sera entièrement remboursé le jour du départ, si aucun dégât n’a été constaté dans l'hébergement pendant votre séjour.<br/>
                                <br/>
                                L'arrivée est possible de 14h jusqu'à 20h.<br/>
                                Les chambres sont spacieuses (24m<sup>2</sup>) et très bien équipées, pour votre plus grand confort.<br/>
                                Malheureusement, nous n'avons pas de place pour un lit d'appoint pour un enfant supplémentaire.<br/>
                                Veuillez également noter que les animaux de compagnie ne sont pas admis.<br/>
                                <br/>
                                Utilisez le formulaire ci-dessous pour nous transmettre votre réservation aux meilleurs tarifs.<br/>
                                Retrouvez Villa Kleber sur <a title="Retrouvez Villa Kleber sur Booking.com" target="_blank" href="http://www.booking.com/hotel/fr/b-amp-b-kleber.html">Booking</a>
                                ainsi que sur <a title="Retrouvez Villa Kleber sur Airbnb.com" target="_blank" href="https://www.airbnb.fr/rooms/9417029">Airbnb</a> à des tarifs un peu moins avantageux.
                            </p>
                        </div>

                        <div class="col-md-2 col-md-offset-1 col-responsive-margin-top">
                            <h3>Infos utiles</h3>
                            <ul>
                                <li><i class="fa fa-check"></i> Literie MyBed™</li>
                                <li><i class="fa fa-check"></i> Salle de bain privative</li>
                                <li><i class="fa fa-check"></i> Serviettes fournies</li>
                                <li><i class="fa fa-check"></i> Télévision écran plat</li>
                                <li><i class="fa fa-check"></i> Wi-Fi gratuit</li>
                                <li><i class="fa fa-check"></i> Vue sur la ville</li>
                                <li><i class="fa fa-check"></i> Proximité magasins</li>
                                <li><i class="fa fa-check"></i> Machine à café</li>
                                <li><i class="fa fa-check"></i> Réfrigérateur</li>
                                <li><i class="fa fa-check"></i> Bouilloire électrique</li>
                            </ul>
                        </div>
                    </div>

                    <hr/>

                    <div class="row row-with-margin-top">
                        <div class="col-md-5 booking-form-col">
                            {{ include('booking/form.html.twig', { 'form': form }) }}
                        </div>

                        <div class="col-md-5 col-md-offset-2 calendar-col">
                            {{ render(controller('AppBundle:Calendar:render')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="information">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>{{ 'title.information_letter'|trans }}</span>{{ 'title.information'|trans }}<span class="hr"></span></h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-element">
                                <div class="info-element-title">
                                    <div class="info-element-icon"><i class="fa fa-car"></i></div>
                                    {{ 'information.parking'|trans }}
                                </div>

                                <div class="info-element-desc">
                                    {{ 'information.parking.description'|trans|raw }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="info-element">
                                <div class="info-element-title">
                                    <div class="info-element-icon"><i class="fa fa-subway"></i></div>
                                    {{ 'information.transport'|trans }}
                                </div>

                                <div class="info-element-desc">
                                    {{ 'information.transport.description'|trans|raw }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-element">
                                <div class="info-element-title">
                                    <div class="info-element-icon"><i class="fa fa-heart-o"></i></div>
                                    {{ 'information.strasbourg'|trans }}
                                </div>

                                <div class="info-element-desc">
                                    {{ 'information.strasbourg.description'|trans|raw }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="info-element">
                                <div class="info-element-title">
                                    <div class="info-element-icon"><i class="fa fa-shopping-bag"></i></div>
                                    {{ 'information.shopping'|trans }}
                                </div>

                                <div class="info-element-desc">
                                    {{ 'information.shopping.description'|trans|raw }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="map">
                        <div class="col-md-12">
                            <div class="corner corner-top-right"></div>
                            <div class="corner corner-top-left"></div>
                            <div class="corner corner-bottom-right"></div>
                            <div class="corner corner-bottom-left"></div>

                            <div class="gmap-map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
    <script type='text/javascript'>
        function init_map() {
            var center = new google.maps.LatLng(48.5859718, 7.743764800000008);
            var myOptions = {
                zoom: 15,
                center: center,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map($('#map .gmap-map')[0], myOptions);
            marker = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(48.5859718, 7.743764800000008)
            });
            infowindow = new google.maps.InfoWindow({content: '<strong>Villa Kleber</strong><br> 6 Quai Kleber, 67000 Strasbourg<br>'});
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
            infowindow.open(map, marker);
            google.maps.event.addDomListener(window, 'resize', function() {
                map.setCenter(center);
            });
        }
        google.maps.event.addDomListener(window, 'load', init_map);
    </script>
{% endblock %}