{% extends 'base.html.twig' %}

{% block title %}{{ 'title.contact_confirm'|trans }}, {{ parent() }}{% endblock %}

{% block logo %}
    {{ include('partials/back_to_home.html.twig') }}
{% endblock %}

{% block menu %}
    <ul class="nav clearfix">
        {{ include('partials/language_switcher.html.twig') }}
    </ul>
{% endblock %}

{% block content %}
    <div class="container contact-confirmation-container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'contact.confirm.head'|trans }}</h1>
                <p>
                    {{ 'contact.confirm.text'|trans }}
                </p>

                <hr/>

                <h1>{{ 'contact.confirm.reminder.head'|trans }}</h1>
                <h4>{{ 'contact.confirm.reminder.sent'|trans }} {{ contact.name }} ({{ contact.email }})</h4>
                <p>
                    <i class="fa fa-quote-left"></i>
                    {{ contact.message|nl2br }}
                    <i class="fa fa-quote-right"></i>
                </p>
            </div>
        </div>
    </div>
{% endblock %}